@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/* Base setup */
html {
	font-size: 3.08641975309vh;
}

body {
	background-color: #f9e9ea;
	height: 100vh;
}

body > div {
	height: 100%;
}

p {
	margin-bottom: 1.333333rem;
}

a {
	color: black;
}

a:hover {
	color: #ef0f8b;
}

/* Containers and Grids */
.container {
	display: flex;
	height: 100%;
}

.main {
	box-sizing: border-box;
	padding: 2.57201646091vh 2.60416666667vw 2.77777777778vh 3.33333333333vw;
	width: 61.7708333333vw;
}

.main__grid {
	column-gap: 2.60416666667vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 20.5761316872vh);
	row-gap: 4.11522633745vh;
}

.art {
	box-sizing: border-box;
	overflow: hidden;
	padding: 0;
	width: 16.875vw;
}

.nav {
	box-sizing: border-box;
	padding: 2.57201646091vh 1.875vw 2.77777777778vh 2.60416666667vw;
	width: 21.3541666667vw;
}

.nav__grid {
	column-gap: 2.60416666667vw;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(4, 20.5761316872vh);
	row-gap: 2.08333333333vw;
}

/* Brand */
.brand {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
}

.brand__text {
	font-family: 'Roboto', sans-serif;
	font-size: 4rem;
	font-weight: 900;
	line-height: 1;
}

/* Nav Menu */
.nav-menu {
	grid-column: 1 / span 1;
	grid-row: 2 / span 2;
}

.nav-menu__item {
	display: block;
}

.nav-menu__text {
	font-family: 'Gothic A1', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.666667;
	text-decoration: none;
}

/* Grid Control */
.control-cell {
	border: 1px solid lightblue;
}

.pos1-1 {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}
.pos2-1 {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
}
.pos3-1 {
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;
}
.pos4-1 {
	grid-column: 4 / span 1;
	grid-row: 1 / span 1;
}
.pos5-1 {
	grid-column: 5 / span 1;
	grid-row: 1 / span 1;
}

.pos1-2 {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}
.pos2-2 {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}
.pos3-2 {
	grid-column: 3 / span 1;
	grid-row: 2 / span 1;
}
.pos4-2 {
	grid-column: 4 / span 1;
	grid-row: 2 / span 1;
}
.pos5-2 {
	grid-column: 5 / span 1;
	grid-row: 2 / span 1;
}

.pos1-3 {
	grid-column: 1 / span 1;
	grid-row: 3 / span 1;
}
.pos2-3 {
	grid-column: 2 / span 1;
	grid-row: 3 / span 1;
}
.pos3-3 {
	grid-column: 3 / span 1;
	grid-row: 3 / span 1;
}
.pos4-3 {
	grid-column: 4 / span 1;
	grid-row: 3 / span 1;
}
.pos5-3 {
	grid-column: 5 / span 1;
	grid-row: 3 / span 1;
}

.pos1-4 {
	grid-column: 1 / span 1;
	grid-row: 4 / span 1;
}
.pos2-4 {
	grid-column: 2 / span 1;
	grid-row: 4 / span 1;
}
.pos3-4 {
	grid-column: 3 / span 1;
	grid-row: 4 / span 1;
}
.pos4-4 {
	grid-column: 4 / span 1;
	grid-row: 4 / span 1;
}
.pos5-4 {
	grid-column: 5 / span 1;
	grid-row: 4 / span 1;
}
