@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

body {
	height: 100vh;
}

body > div {
	height: 100%;
}

.container {
	box-sizing: border-box;
	height: 100%;
	padding: 25px 36px 27px 64px;
}

.grid {
	column-gap: 50px;
	display: grid;
	grid-template-columns: repeat(5, 324px);
	grid-template-rows: repeat(4, 200px);
	height: 100%;
	row-gap: 40px;
	width: 100%;
}

.brand-area {
	border: 2px solid pink;
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.art-area {
	border: 2px solid aqua;
	grid-column-start: 4;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 4;
}

.nav-area {
	border: 2px solid green;
	grid-column-start: 5;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 2;
}

.brand-title {
	font-family: 'Roboto', sans-serif;
	font-size: 128px;
	font-weight: 900;
	line-height: 120px;
}

.brand-subtitle-area {
	border: 2px solid hotpink;
	grid-column-start: 1;
	grid-column-end: span 3;
	grid-row-start: 3;
	grid-row-end: span 1;
}

.brand-subtitle {
	display: block;
	font-family: 'Gothic A1', sans-serif;
	font-size: 84px;
	font-weight: 400;
	line-height: 120px;
}

/* Grid Control */
.control-cell {
	border: 1px solid lightblue;
}

.pos1-1 {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}
.pos2-1 {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
}
.pos3-1 {
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;
}
.pos4-1 {
	grid-column: 4 / span 1;
	grid-row: 1 / span 1;
}
.pos5-1 {
	grid-column: 5 / span 1;
	grid-row: 1 / span 1;
}

.pos1-2 {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}
.pos2-2 {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}
.pos3-2 {
	grid-column: 3 / span 1;
	grid-row: 2 / span 1;
}
.pos4-2 {
	grid-column: 4 / span 1;
	grid-row: 2 / span 1;
}
.pos5-2 {
	grid-column: 5 / span 1;
	grid-row: 2 / span 1;
}

.pos1-3 {
	grid-column: 1 / span 1;
	grid-row: 3 / span 1;
}
.pos2-3 {
	grid-column: 2 / span 1;
	grid-row: 3 / span 1;
}
.pos3-3 {
	grid-column: 3 / span 1;
	grid-row: 3 / span 1;
}
.pos4-3 {
	grid-column: 4 / span 1;
	grid-row: 3 / span 1;
}
.pos5-3 {
	grid-column: 5 / span 1;
	grid-row: 3 / span 1;
}

.pos1-4 {
	grid-column: 1 / span 1;
	grid-row: 4 / span 1;
}
.pos2-4 {
	grid-column: 2 / span 1;
	grid-row: 4 / span 1;
}
.pos3-4 {
	grid-column: 3 / span 1;
	grid-row: 4 / span 1;
}
.pos4-4 {
	grid-column: 4 / span 1;
	grid-row: 4 / span 1;
}
.pos5-4 {
	grid-column: 5 / span 1;
	grid-row: 4 / span 1;
}
